<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p ng-repeat="item in message">{{item}}</p>
        <input ng-model="message">
        <button ng-click="add('a')">aaa</button>
    </div>
              
    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.message = ['a','b']
            $scope.add = function(value) {
                // console.log($scope.message)
                var arr = []
                arr = $scope.message
                arr.push(value)
                $scope.message = arr
                // console.log($scope.message)
            }
        });
    </script>


</body>
</html>