<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id='app'>
        <input type='text' v-model='text'>
        {{text}}
        <br />
        <button @click='increment'>increment</button>
        <p v-for='item in arr'>
            <span>{{item}}</span>
        </p>
    </div>
    <script src='./vue/dist/vue.js'></script>
    <script>
        var app=new Vue({
            el:"#app",
            data:{
                arr:[1,2,3,4],   
                text:'hello world'
            },
            methods:{
                increment:function(){
                    this.arr.push(this.arr.length+1)
                    console.log(this.arr)
                }
            }
        })
    </script>
</body>
</html>